<!DOCTYPE configuration>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>debug.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.semux.api" level="INFO" />
    <logger name="org.semux.core" level="INFO" />
    <logger name="org.semux.consensus" level="INFO" />
    <logger name="org.semux.db" level="INFO" />
    <logger name="org.semux.net" level="INFO" />
    <logger name="org.semux.vm" level="INFO" />
    <logger name="org.semux.wrapper" level="INFO" />

    <logger name="io.netty" level="ERROR" />
    <logger name="oshi" level="INFO" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
