<!DOCTYPE configuration>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yy-MM-dd HH:mm:ss} %highlight(%-5level) [%thread] %cyan(%logger{0}) - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="TEST" class="org.semux.LoggingAppender">
        <encoder>
            <pattern>%d{yy-MM-dd HH:mm:ss} %highlight(%-5level) [%thread] %cyan(%logger{0}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.semux.api" level="DEBUG" />
    <logger name="org.semux.core" level="DEBUG" />
    <logger name="org.semux.consensus" level="DEBUG" />
    <logger name="org.semux.db" level="DEBUG" />
    <logger name="org.semux.net" level="DEBUG" />
    <logger name="org.semux.vm" level="DEBUG" />

    <logger name="io.netty" level="ERROR" />
    <logger name="oshi" level="INFO" />
    <logger name="net.sourceforge.cobertura" level="INFO" />

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="TEST" />
    </root>
</configuration>